<div class="card">
    
    <p-table [value]="clients" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>ID Type</th>
                <th>ID Number</th>
                <th>Country</th>
                <th>Foreing</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-client>
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.Name }}</td>
                <td>{{client.Lastname}}</td>
                <td>({{client.IDType.code}}) {{client.IDType.name}}</td>
                <td>{{client.IDNumber }}</td>
                <td>{{client.Country.name}}</td>
                <td>
                    <p-toggleswitch [(ngModel)]="client.foreing"></p-toggleswitch>
                </td>
                <td>
                    <p-button icon="pi pi-spin pi-cog " aria-label="Save" class="botonw"></p-button>
                    <p-button icon=" pi pi-trash" (onClick)="delete(client.id)"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>