<div class="form" [formGroup]="form">
    <p-inputgroup>
        <input pInputText placeholder="Name" formControlName="Name"/>
    </p-inputgroup>

    <p-inputgroup>
        <input pInputText placeholder="Lastname" formControlName="Lastname"/>
    </p-inputgroup>

    <p-inputgroup>
        <p-inputgroup-addon *ngIf="form.value.IDType">
            <i>{{form.value.IDType.code}}</i>
        </p-inputgroup-addon>
        <p-select [options]="IDType" optionLabel="name" placeholder="IDType" formControlName="IDType"/>
    </p-inputgroup>

    <p-inputgroup>
        <p-inputnumber type="number" placeholder="ID Number" formControlName="IDNumber" />
    </p-inputgroup>

    <p-inputgroup>
        <p-inputgroup-addon *ngIf="form.value.Country">
            <i>{{form.value.Country.code}}</i>
        </p-inputgroup-addon>
        <p-select [options]="countries" optionLabel="name" placeholder="Country" (onChange)="event()" formControlName="Country"/>
        <p-inputgroup-addon *ngIf="form.value.Country">
            {{foreing ? 'Local' : 'Foreing'}}
        </p-inputgroup-addon>
    </p-inputgroup>

    <p-button label="Create" (onClick)="submit(true)"/>
    <!-- <p-button label="Update" (onClick)="submit(false)"/>
    <p-button label="Delete" (onClick)="delete()"/> -->
</div>